/* Estilo para el fondo del overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Contenedor principal del modal */
  .popup-container {
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
    z-index: 1001;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Botón de cerrar */
  .close-btn {
    transform: translate(168%, -114%);
    align-self: flex-end;
    justify-self: flex-start;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #741f1f;
    transition: color 0.2s ease-in-out;
}
  
  .close-btn:hover {
    color: #741f1f;
  }
  
  /* Título del modal */
  .popup-container h2 {
    margin: 0 0 20px;
    font-size: 20px;
    color: #333;
    text-align: center;
  }
  
  /* Campo de entrada */
  .input-field {
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .input-field:focus {
    border-color: #28883e;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 136, 62, 0.2);
  }
  
  /* Grupo de botones */
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  /* Botón de guardar */
  .save-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .save-btn:hover {
    background-color: #28883e;
  }
  
  /* Animación de entrada */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }